<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>Michael Nedokushev - $title$</title>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        
        <!-- Metadata. -->
        <meta name="keywords" content="Michael Nedokushev,blog,programming,coding,haskell,common lisp,personal,homepage" />
        <meta name="description" content="Personal home page and blog of Michael Nedokushev." />
    </head>
    <body>


        <div id="wrapper">

            <div id="container">
                
                <div id="navigation">
                    <a href="/index.html">Home</a>
                    <a href="/posts.html">Posts</a>
                </div>
                
                <div id="content">
                    $body$
                </div>
                
            </div>
            
            <div style="clear:both"></div>
        </div>
             
        
    </body>
</html>
